body{
    background-color:#0dcaf0;;
    font-family: 'RocknRoll One', sans-serif;

}

/* <!-- Sección 1 : Barra Navegación --> */
.logoviaje{
    width: 2rem;
}


/* <!-- Sección 2 : Carrusel --> */


/* <!-- Sección 3 : Presentación/¿Quienes Somos? --> */
.favicon{
    background-color: aquamarine;
}


/* <!-- Sección 4 : Suscribete --> */


/* <!-- Sección 5 : Tarjetas destacados --> */
.imagen_destacado{
    height: 200px !important;
}


/* <!-- Sección 6 : Contacto/Suscribirse --> */
#correo{
    text-align: left;
}


/* <!-- Sección 7 : Footer/Pie de página --> */
#seccion7{
    background-color: rgba(94, 175, 230, 0.123);
}
h2{
    color: white ;
    font-weight: 700;
}
#seccion7 i{
    color: white;
}

